/* Fix nav icon positioning on phones */
@media (max-width: 600px) {
	nav ul > li > a > i.material-icons {
		line-height: 56px;
		height: 56px;
	}
}

/* Bottom right FAB */

.floating-bottomright {
	position: absolute;
	bottom: 24px;
	right: 24px;
}

/* Fix materialize bug */

.offset-s1 {
	margin-left: 8.33% !important;
}

.offset-s2 {
	margin-left: 16.66667% !important;
}

/* No collection borders */

.collection {
	border: none;
}

/* Remove extra space around collection avatar items */

.collection a.collection-item.avatar {
	min-height: 64px;
}

#players_list_container .collection .collection-item.avatar .secondary-content {
	top: 24px;
}

#scores_list_container .collection .collection-item.avatar .secondary-content {
	top: 14px;
}

/* Link collection items have normal text color */
.collection a.collection-item {
	color: rgba(0, 0, 0, 0.87);
}

/* Modals cannot be closed */
.lean-overlay {
	pointer-events: none;
}

/* Inline player lists */
.player-list-chips {
	position: absolute;
	top: 16px;
	right: 64px;
}

/* Player score display */
.score-display span {
	margin: 0 10px;
	min-width: 50px;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	position: relative;
	top: 4px;
}

/* Full-width buttons */
.btn-block {
	display: block;
	width: 100%;
}

/* Loading spinner */
.preloader-wrapper {
	position: absolute;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
}

/* Position SVG icons */

img[icon] {
	vertical-align: middle;
	position: relative;
	top: calc(50% - 18px);
}

img.circle[icon] {
	padding: 8px;
}

.secondary-content .btn-floating img[icon],
.secondary-content.btn-floating img[icon] {
	padding: 8px;
	transform: scale(calc(2/3));
	position: relative;
	top: -8px;
	left: -8px;
}

.btn:not(.btn-block) img[icon] {
	transform: scale(calc(2/3));
}

.btn:not(.btn-block) img[icon].left {
	padding: 8px;
	height: 42px;
	width: 42px;
	position: relative;
	top: -3px;
	left: -9px;
}

img.red-text[icon] {
	-webkit-filter: invert(0.5) sepia(0.5) hue-rotate(320deg) saturate(5) contrast(2);
}

img.red-text.text-darken-4[icon] {
	-webkit-filter: invert(0.5) sepia(0.5) hue-rotate(320deg) saturate(5) contrast(2) brightness(0.8);
}

img.green-text.text-darken-4[icon] {
	-webkit-filter: invert(0.5) sepia(0.5) hue-rotate(42deg) saturate(5) contrast(2) brightness(0.8);
}

/* Input colors */

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #4CAF50;
	box-shadow: 0 1px 0 0 #4CAF50;
}

/* Consistent preloaders */
.circle-clipper .circle {
	border-width: 5px;
}

/* Code display */
.text-monospace {
	font-family: "Roboto Mono", monospace;
}
