<!-- Page Data -->
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">

<!-- CSS -->
<link href="css/phonegap.css" rel="stylesheet">
<link href="css/materialize.min.css" rel="stylesheet">
<link href="css/scorekeeper.css" rel="stylesheet">
